.img_des {
    display: flex;
    margin-left: 370px;
    width: 1120px;
    height: 500px;
    background-color: #F3F3F3;
    border-radius: 20px;
}

.profile_des {
    margin-top: 191px;
    margin-left: 20px;
}

.img_bg {
    position: absolute;
    width: 1120px;
    height: 186px;
}

.img_avt {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-left: 40px;
    margin-top: 160px;
}

.action {
    display: flex;
    margin-left: 801px;
    margin-top: -106px;
}

.follow {
    width: 80px;
    height: 20px;
    border: 1px solid black;
    margin-right: 10px;
    border-radius: 20px;
}

.sendmess {
    width: 80px;
    height: 20px;
    border: 1px solid black;
    border-radius: 20px;

}

.profile_center_tab {
    margin-left: 400px !important;
}