.profile {
    display: flex;
    padding: 30px;
    }
    
    .profile_top {
        width: 100%;
        display: flex;
    justify-content: center;
}

.img_bg {
    display: flex;
    justify-content: center;
}

.profile_top_center_avt {
    width: 130px;
    height: 130px;
    border-radius: 100px;
    position: absolute;
        z-index: 2;
}

.profile_top_bgr {
    height: 186px;
    margin-bottom: 100px;
    position: relative;
        width: 1122px;
}